.navbar {
    background-color:rgb(18, 16, 138);
    }
.navbar-logo {
    height: 100px;
    width: auto;}

.navbar-text {
    color:white;
    } 

.text-body{
    margin-left: 20px;
    margin-top:10px;
    margin-bottom: 30px;
    font-size: 25px;
    font-style: bold;
    text-align: left; 
    }

   .panel-heading{
        font-size:15px;
        font-style: bold;
        text-align: left; 
        background:blue; 
        color: white;
    }
    .panel-body {
        font-size:12px;
        text-align:left;
        background:blue; 
        color: white;
    }
    