    .navbar {
        background-color:rgb(18, 16, 138);
        height: 30px; 
    }
.navbar-logo {
    height: 100px;
    Width: auto;}

.navbar-text {
    color:white;
} 
.text-body{
    font-size: 30px;
    font-style: bold;
}
 .panel-default{
     color:black;
 }